<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/starter-template/starter-template.css">
    <title>Codecool events</title>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{~/}"><span class="glyphicon glyphicon-home"> Codecool Events </span></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a  th:href="@{'~/create_event'}"><span class="glyphicon glyphicon-pencil">Add new event</span> </a></li>
                    <li class="form-group" style="padding-top: 15px; padding-left: 15px">
                        <form th:action="@{'~/filter'}" method='GET'>
                            <input type="submit" value="Filter by category:">
                            <input list="categories" name="category" required>
                            <datalist id="categories">
                                <th:block th:each="category : ${categories}">
                                    <option th:text="${category.getCategoryName()}" th:value="${category.getCategoryName()}">Category</option>
                                </th:block>
                            </datalist>
                        </form>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container" th:replace="list_events :: list_events">

    </div>


    <div th:replace="footer :: copy"></div>


</body>
</html>